ion-content, ion-item{
    --background: rgb(72, 53, 78);
}

ion-input{
    color: white;
}

ion-content{
    --ion-background-color: ;
}
ion-content h1{
    margin: 60px;
    font-size: 60px;
    font-family: "AmaticSC";
    color: white;

}
ion-content ion-label{
    font-family: "Kalam";
    font-size: 24px;
}

ion-content ion-input{
    font-family: "Kalam";
    font-size: 30px;
}

ion-content form{
    margin: 0 25px;

}
ion-content form ion-item{
    margin: 20px 0;
    font-size: 20px;
}

ion-content form ion-button{
    margin: 30px 0;
}

#buttons {
    margin: 90px 0 0;
}

ion-toolbar{
    --background: #121212;
    --color: white;
}

ion-label{
    --color: white !important;
}

a{
    cursor: pointer;
}